:root {
    --royal-blue-light: #eda840;
    --royal-blue-dark: #694c20;
    --write: #fff;
    --background: #ecebeb;
    --bk-link-menu: #a76060;

}

* {
    margin: 0px;
    padding: 0px;
    text-shadow: 0px 3px 6px rgba(238, 58, 58, 0.822);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container{
    display: flex;
    background: #0a0000;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: .3rem 2rem .3rem 2rem;
    box-shadow: .15rem .4rem .8rem;
    height: 100px;
}
.logo img{
    width: 130px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    box-shadow: #ecebeb 0px 0px 35px 3px;
}

.menu a{
    color: var(--write);
    align-items: center;
    text-align: center;
    margin-inline: 10px;
}

.menu a:hover{
    color: #7ce41b;
    border-bottom: 2px rgb(33, 202, 103) solid;
    
}
.menu{
    display: inline;
    
}

.social{
    color: white;
    justify-content: space-between;
    display: flex;
    gap: .6rem;
}
.social img{
width: 30px;
border-radius: 30%;
}
.social img:hover{
    transform: scale(1.1);
    box-shadow: .011rem .125rem .5rem rgb(250, 248, 248);
    }

.barra{
    background-color: #fff;
    width: 2px;
    height: 40px;
    border-radius: 3px;
    
}
/*------------------------Inicio body-----------------------------------*/
main{
    position: static;
    width: 95vw;
    border: #0a0000 1px solid;
    margin: auto;
    
          
}
.prod_destaque{
    position: relative;
    width: 100%;
    margin: auto;
      
}

.item_destaque{
    background-color: #1b22e4;
    display: inline-flex;
    margin: auto;
    
}


.item_destaque img{
    width:500px;
    height: 250px;
     
    
    
}
/*------------------------Fim body-----------------------------------*/

/*------------------------Inicio footer-----------------------------------*/


footer{
    position: absolute;
    bottom: 0%;
    
    
}
.footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    
}


/*------------------------Fim footer-----------------------------------*/



/*------------mobile versao 900-------------------*/

@media screen and (max-width: 900px) {
    .barra{
        display: none;
    }
.social a img{
    padding: 0%;
    width: 25px;
}

 
    .menu{
        align-items: center;
        padding-right: 5px;
        margin: 2px;
    }

}

/*------------mobile versao 750-------------------*/
@media screen and (max-width: 750px) {
    .barra{
        display: none;
    }


    .menu-mobile{
        display: none;
        width: 100vw;        
        height: 100vh;
        background-color: #9260d4;
        z-index: 1;
        
    }
   

}


/*------------mobile versao 650-------------------*/
@media screen and (max-width: 650px) {
    .menu a{
    display: none;
    text-align: end;
    
}
    .hamburger{
        display: block;
        width: 25px;
        height: 2px;
        background-color: #fdffff;
    }

}

/*------------mobile versao 550-------------------*/
@media screen and (max-width: 550px) {


.descricao p{
    border: 10px;

}
.footer p{
    font-size: 10px;
}
}